html {
    font: 14px "Microsoft YaHei", Helvetica, Arial, Lucida Grande, Tahoma, sans-serif;
    overflow: hidden;
}

body {
    background-image: url(../image/bg3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    user-select: none;
}

body:before {
    content: ' ';
    position: fixed;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(../image/bg3.jpg) center 0 no-repeat;
    background-size: cover;
}

@media screen and (max-width: 620px) {
    body {
        background-position: -160px;
    }
}

.header,
.footer {
    height: 50px;
    width: 100%;
    background: rgba(86, 60, 60, 0.7);
    text-align: center;
}

.header > .title > img {
    margin: 4px;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    float: left;
}

.header > .title > span {
    display: inline-block;
    line-height: 50px;
    font-size: 22px;
    font-weight: bold;
    color: #c5c5c5;
}

.content {
    position: absolute;
    position: absolute;
    top: 50px;
    bottom: 60px;
    width: 100%;
}

.footer {
    position: absolute;
    bottom: 0;
}

.user-msg {
    overflow-x: auto;
    max-height: 100%;
    width: auto;
    margin: 4px;
    min-height: 30%;
    background: rgba(221, 221, 221, 0.7);
}

.avatar {
    padding: 10px;
}

.user-msg > p {
    font-size: 16px;
    color: #2c2c2c;
}

.user-msg > .avatar > img {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    float: left;
}

.user-msg > .avatar > span {
    font-size: 20px;
    margin-left: 10px;
    color: #2c2c2c;
}

.user-msg > .avatar > p {
    margin: 0;
    font-size: 16px;
    padding: 4px;
}

.vip {
    color: rgb(255, 100, 0);
    font-size: 16px;
    position: absolute;
    top: 4px;
    right: 4px;
    margin: 4px;
    border: 1px solid;
    border-radius: 2px;
}

.menu > .menu-item {
    outline: none;
    color: #4c4c4c;
    font-size: 16px;
    text-decoration: none;
    display: block;
    background: rgba(197, 197, 197, 0.5);
    min-height: 30px;
    padding: 2px;
    padding-left: 10px;
    line-height: 30px;
    font-weight: bold;
    cursor: pointer;
    border: 0;
}

.menu > .menu-item:hover, .menu > .active {
    background: rgba(131, 131, 131, 0.5);
}

.qr-code {
    text-align: center;
    padding: 4px;
}

.qr-code > p {
    font-weight: bold;
    margin: 4px;
}

.qr-code > img {
    width: 80%;
}

@media screen and (min-width: 620px) {
    .qr-code > img {
        width: 400px;
    }
}

.select-month {
    padding: 10px;
}

.select-month > input[type=text] {
    height: 20px;
    outline: none;
    border: 1px solid #a4a4a4;
    box-shadow: 0px 0px 5px 0px rgba(217, 223, 228, 0.5);
    padding: 2px;
}

.select-month > span {
    line-height: 26px;
    color: #2c2c2c;
    font-size: 16px;
    margin-right: 4px;
    font-weight: bold;
}

.footer > .btn-list {
    display: block;
    height: 50px;
    line-height: 50px;
    font-size: 24px;
    color: #ffffff;
    text-decoration: none;
    float: left;
    font-weight: bold;
}

.footer > .active {
    color: #161616;
}

.menu > .movie {
    display: table-cell;
    min-width: 100px;
    height: 40px;
    line-height: 40px;
}

.menu > .movie:last-child {
    border-left: 1px solid #b3b3b3;
}

.content > .movie, .movie-list {
    width: auto;
    background-color: rgba(197, 197, 197, 0.5);
    margin: 4px;
    padding: 4px;
}

.movie-list {
    overflow-y: auto;
    height: 75%;
}

.movie-list > .movie {
    margin: 4px;
    width: 47%;
    height: 300px;
    display: inline-block;
}

.movie-list > .movie > img {
    width: 100%;
    height: 250px;
}

.movie-list > .movie > p {
    font-weight: bold;
    font-size: 16px;
    margin: 0;
}

.movie-list > .movie > .live {
    color: #ffffff;
    font-size: 20px;
    float: right;
    padding: 0;
    cursor: pointer;
    border: 0;
    background-color: rgba(0, 0, 0, 0);
}

.sm-list {
    width: auto;
    min-height: 100px;
    border: 1px solid rgba(197, 197, 197, 0.5);
    background: rgba(197, 197, 197, 0.5);
    margin: 4px;
    border-radius: 5px;
}

.sm-list > .sm-left, .sm-list > .sm-right {
    font-weight: bold;
    font-size: 16px;
    color: #4c4c4c;
    min-height: 100px;
}

.sm-list > .sm-left {
    position: absolute;
    width: 50%;
}

.sm-list > .sm-right {
    position: absolute;
    text-align: center;
    left: 60%;
    width: 40%;
}

.sm-name {
    text-align: center;
}
.sm-btn{
    margin-top: 10px;
    border: 0;
    outline: none;
    cursor: pointer;
    background-color: #0099CC;
    color: #ffffff;
    min-width: 60px;
    height: 30px;
    padding: 6px 4px;
    margin-left: 10px;
}
.sm-description {
    word-wrap: break-word;
    font-size: 14px;
    color: rgb(56, 56, 56);
    font-weight: 500;
}